@{
    ViewBag.Title = "BookRoom";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="availableCount">
<p></p>
</div>

<button class="btn-success mt-10 btnAvailableCount"> Get Room Count</button>
 