@{
    ViewBag.Title = "BookRoom";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="availableCount">
    <p class="text-info">Click to Check Available Room Count</p>

    <button class="btn-default mt-10 btnAvailableCount"> Get Room Count</button>

</div>
<br />
<div class=" bg-primary"></div>


<label class="label-default"> No of Rooms:</label>
<br />
<input type="text" class="form-control col-sm-2 roomCount"/>
<br />
<button class="btn-success bookRoom"> Book Room</button> 

<h2>Booked Rooms</h2>
<ul class="bookedRoomList">
    
</ul>
 