@model List<HotelBooking.Models.AvailableRooms>
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Welcome !</h1>
    <h3 style="margin-top:20px;color:burlywood">Total Rooms Available : @ViewData["ReadyRooms"]</h3>

    <div class="availableRoomsList">
        @foreach(var room in Model)
        {
            string bgcolor = (room.roomStatus == HotelEnum.Status.Available) ? "background-color:green" : (room.roomStatus == HotelEnum.Status.Occupied) ? "background-color:red" : (room.roomStatus == HotelEnum.Status.Vaccant) ? "background-color:yellow": "background-color:gray";
            <span class="roomIcon" style=@bgcolor>@room.roomNo</span>
        }
    </div>

</div>
